.main{
    flex: 1;
    min-height: 100vh;
    /* padding-bottom: 10vh; */
    position: relative;
}

.main .nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main .nav p{
    font-weight: 500;
    font-size: 23px;
    margin-left: 60px;
    /* position: sticky; */
}

.main-container{
    max-width: 970px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 65px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
    margin-left: 40px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
    margin-left: 40px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 970px;
    padding: 0px 20px;
    margin: 0px 30px;
    
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 12px;
    margin-right: 45px;
    padding-top: 10px;
    
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 9px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.main .bottom-info{
    font-size: 13px;
    margin: 11px auto;
    text-align: center;
    font-weight: 300px;
}

.result{
    /* padding: 0px 5%; */
    max-height: 81vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    display: flex;
    word-break: break-all;
    justify-content: flex-end;
    margin: 40px 0;
    /* align-items: center; */
    gap: 20px;
}

.result-title p{
    font-size: 20px;
    max-width: 60%;
    padding: 10px 18px;
    background-color:  #f0f4f9;
    border-radius: 50px;
    color: rgb(93, 93, 93);
    font-weight: 400;
    margin-right: 45px;
}
 
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data img{
    /* height: 70px;
    width: 70px;
    float: left; */
    /* margin-left: -61px; */
    margin-top: -20px; 
    width: 70px;
    border-radius: 50%;
}

.result-data p{
    font-size: 20px;
    /* margin-left: 16px; */
    font-weight: 400;
    line-height: 1.5;
    /* max-width: 1000px; */
    margin-right: 45px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
    margin-right: 45px;
}

.loader hr{
    position: relative;
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

.nav .menu  img{
    width: 20px;
}

.nav .menu1{
    width: 20px;
    z-index: 1000;
    position: fixed;
    left: 0px;
    display: block;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

@media (max-width:1000px) {
    .main .greet{
        margin: 50px 0px;
        font-size: 40px;
        font-weight: 500;
        padding: 20px;
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .main .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 0fr));
        /* gap: 15px;
        padding: 15px;
        margin-left: 40px; */
    }

    /* .main .card{
        height: 180px;
    } */
}

@media (max-width:1000px) {
    #abc{
        display: none;
    }
    #bcd{
        display: none;
    }
    .main .greet{
        margin-bottom: 20px;
    }
} 

@media (max-width:500px) {
   .main .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 0fr));
}
}


@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}